//COLORS 
$primary-color: #d5d5d5;
$secondary-color: #009999;

//COMPONENT COLORS
$card-bg-color: $primary-color; //background color for card
$input-bg-color: $primary-color; ///background color for input
$button-bg-color: $secondary-color; //background color for button

$pagination-height: 30px;